{% extends 'home_page.html' %}
{% load static %}

{% block content %}

<div class="info div "  >
    <h2 class="headers"> Orders list:</h2>
    <div class="headers">
        <a href="{% url 'create_order'%}" class="button ">Create new Order</a>
    </div>
    <table class="table" style="width: 100%">
        <tr >
            <th>so_id</th>
            <th>accept_date</th>
            <th>Full name</th>
            <th>Phone number</th>
            <th>Device type</th>
            <th>Device data</th>
            <th>Issue description</th>
        </tr>
        {% for order in object_list %}
        <tr>
            <td>{{ order.so_id }}</td>
            <td>{{ order.accept_date }}</td>
            <td>{{ order.client }}</td>
            <td>{{ order.client.phone_number }}</td>
            <td>{{ order.device_type }}</td>
            <td>{{ order.device_data }}</td>
            <td>{{ order.issue_description }}</td>
            <td><a class="edit-button" href="{% url 'edit_order' pk=order.pk %}" >Edit order</a></td>
            <td><a class="edit-button" style="background-color: #c81e1e; color:white" href="{% url 'delete_order' pk=order.pk %}" >Delete order</a></td>
        </tr>
        {% empty %}
            <h2 class="center" >No records in Orders!</h2>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="info div" style="margin-top: 30px; position: fixed ">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

</div>
{% endblock %}