{% extends 'home_page.html' %}
{% load static %}

{% block content %}

<div class="info div "  >
    <h2 class="headers">Orders with status "open" :</h2>
    
    <table class="table" style="width: 100%">
        <tr >
            <th>accept_date</th>
            <th>Full name</th>
            <th>Phone number</th>
            <th>Device data</th>
            <th>Issue description</th>
            <th>Status</th>
            <th>Technician</th>
        </tr>
        {% for order in object_list %}
        <tr>
            <td>{{ order.accept_date }}</td>
            <td>{{ order.client }}</td>
            <td>{{ order.client.phone_number }}</td>
            <td>{{ order.device_data }}</td>
            <td>{{ order.issue_description }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.technician }}</td>
            <td>
                <form method="post" action="{% url 'start_repair' pk=order.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="Select order">
                </form>
            </td>
{#                <td><a class="ed it-button" href="{% url 'start_repair' pk=order.pk %}" >Select order</a></td>#}
        </tr>
        {% empty %}
            <h2 class=headers >No records !</h2>
        {% endfor %}

    </table>
    
    {% include 'common/paginate.html' %}

</div>
{% endblock %}