{% extends 'home_page.html' %}
{% load static %}

{% block content %}
<div class="row info div div">
    <div class="info div.container column">
        <h2 class="headers">The selected order N#{{ order_id }} was assigned to {{ request.user.get_full_name }}</h2>

        <form method="post"  >
            {{assigned_order_form }}
            {% csrf_token %}

        </form>
        <h2 class="center">Added to orders history number N#{{ history_id }}</h2>
        <form method="post"  >
             {{order_history_form}}
              {% csrf_token %}

        </form>
        <div style="display:flex; align-items: inherit">
            <a href="" onclick="window.print()" class="center">Print a copy</a>
            <a href="{% url 'select_order' %}"  class="center">Back to orders list</a>
        </div>
            <a href="{% url 'home_page' %}" class="center" >Back to Home page</a>
    </div>
</div>   
{% endblock %}