{% extends 'home_page.html' %}
{% load static %}

{% block content %}
    <h2 class="center">Start history</h2>
<div class="row info div div">    
{#    <div class="info div.container column">#}
{#        <form method="post" >#}
{#            {{select_form}}#}
{#            {% csrf_token %}#}
{##}
{#            {% if client_saved  %}#}
{#                <h3 class="center" style="color: darkgreen">Client is saved successfully !</h3>#}
{#            {% else %}#}
{#                <input type="submit" value="Submit" class="center"  >#}
{#            {% endif %}#}
{#        </form>#}
{#    </div>#}
        
    <div class="info div.container column">
        <form method="post"  >
             {{select_form}}
            {{history_form}}
            {% csrf_token %}
            
            {% if order_saved  %}
                <h3 class="center" style="color: darkgreen">History is saved successfully !</h3>
            {% else %}
                <input type="submit" value="Submit" class="center"  >
            {% endif %}
            <a href="{% url 'orders_list' %}" class="center" >Back to Order list</a>
        </form>
    </div>
</div>
{% endblock %}