<div class="column_main" style="background-color:whitesmoke; {% if request.user.is_authenticated %} visibility: hidden;{% endif %}">
    <div class="column_main">
        
        <div class="card" style="background-color: lightgray">
            <h2><img src="static/images/icon/mission.png" alt="Mission" style="zoom: 10%">
                Our mission
            </h2>
            <div>
                <p>
                   Our mission is to be professionals, both in the servicing of equipment
                    and in our relations with our customers. We strive to always provide quality repairs.
                    Our main goal is for the customer to be satisfied and come back.
                </p>
            </div>
        </div>
        
        <div class="card" style="background-color: #c7c2c2">
            <h2><img src="static/images/icon/consult.png" alt="Consult" style="zoom: 10%">
                  Our team and support
            </h2>
            <div>
                <p>
                   Our team consists of ten highly qualified professionals in each of the areas
                    in which we offer services.They can advise you on all questions related to your 
                    equipment, both on site in the service center and over the phone!
                </p>
            </div>
        </div>
        
         <div class="card" style="background-color: lightgray">
            <h2><img src="static/images/icon/warranty.png" alt="Warranty" style="zoom: 10%">
                 Warranty
            </h2>
            <div>
                <p>
                   For devices under warranty, we honor the manufacturer's warranty period. 
                    For devices repaired by us, the warranty period is from 6 months to 1 year, 
                    depending on the repaired part of the device.
                </p>
            </div>
        </div>
        
        <div class="card" style="background-color: lightgreen">
            <h2><img src="static/images/icon/recycle.png" alt="Eco" style="zoom: 10%">
                 Ecology
            </h2>
            <div>
                <p>
                   As an environmentally responsible electronics repair company, we ensure that 
                    end-of-life devices are properly recycled.Therefore, we offer you the opportunity
                    to return your out-of-use devices, in exchange for which you will receive a 
                    discount for the spare parts used in the repair.
                </p>
            </div>
        </div>
        
    </div>
</div>