{% load static %}
<nav>
<div class="navbar">
    <a class="active" href="{% url 'home_page' %}"><i class="fa fa-fw fa-home"></i> Home</a>
    {% if not request.user.is_authenticated %}
        <a href="{% url 'login_user' %}"><i class="fa fa-solid fa-user-plus"></i> For Employees</a>
        <a href="{% url 'client_view' %}"><i class="fa fa-solid fa-user"></i> For Clients</a>
    {% else %}
        {% if request.user.user_type == 'receptionist' or request.user.user_type == 'manager'%}
            <a href="{% url 'clients_list' %}"><i class="fa fa-fw fa-users"></i> Clients List</a>
            <a href="{% url 'create_order' %}"><i class="fa fa-solid fa-list-alt"></i> New Order</a>
            <a href="{% url 'orders_list' %}"><i class="fa fa-solid fa-list"></i> Orders List</a>
            <a href="{% url 'all_tasks' %}"><i class="fa fa-solid fa-info-circle"></i> Service Tasks</a>
            <a href="{% url 'employees_list' %}"><i class="fa fa-fw fa-user-o"></i> Employees List</a>

        {% elif request.user.user_type == 'technician' or request.user.user_type == 'manager'%}
            <a href="{% url 'select_order' %}"><i class="fa fa-solid fa-hourglass-start"></i> Start repair</a>
            <a href="{% url 'repairs_in_progress' %}"><i class="fa fa-solid fa-hourglass-end"></i> End repair</a>
            <a href="{% url 'clients_list' %}"><i class="fa fa-fw fa-users"></i> Clients List</a>
        {% endif %}
    {% endif %}

    <div >
        {% if not request.user.is_authenticated %}
            <a class="split" href="{% url 'login_user' %}"><i class="fa fa-fw fa-user "></i> Login</a>
        {% else %}
            <a class="split" href=""><i class="fa fa-fw fa-user-plus "></i> {{request.user.username}}</a>
            <a class="split" href="{% url 'logout_user' %}"><i class="fa fa-fw fa-user "></i> Logout</a>
        {% endif %}
        <a class="split" href="#"><i class="fa fa-fw fa-envelope"></i> Contacts</a>
    </div>
</div>
</nav>