{% extends 'common/service_wellcome.html' %}

{% block repair_type %}
    
<div class="info div">
        <h2 class="headers">{{ device_category }} repairs</h2>
    <table class="table">
        <tr >
            <th >Description</th>
            <th>Price</th>
        </tr>
        {% for row in object_list %}
        <tr>
            <td >{{ row.description }}</td>
            <td>{{ row.price }} lv.</td>
        </tr>
        {% empty %}
            <h2 class="headers">No records !</h2>    
        {% endfor %}
         
    </table>
    <div>
        <a href="{% url 'home_page'%}" class="button">Go back</a>
    </div>
</div>
{% endblock %}