{% extends 'home_page.html' %}
{% load static %}

{% block content %}

<div class="row_main">
    
    {% include 'common/services.html' %}
    
    <div class="column_main" style="align-items: center">
        <h2 class="headers">Types of repairs and prices:</h2>
        <ul id="myUL" style="width: 100%">
            <li><a href="{% url 'price-list' device_type='computer'%}"><i class="fa fa-solid fa-desktop"></i> Desktop computers</a></li>
            <li><a href="{% url 'price-list' device_type='laptop' %}"><i class="fa fa-solid fa-laptop"></i> Laptops</a></li>
            <li><a href="{% url 'price-list' device_type='monitor' %}"><i class="fa fa-solid fa-tv"></i> Monitors</a></li>
            <li><a href="{% url 'price-list' device_type='printer' %}"><i class="fa fa-solid fa-print"></i> Printers</a></li>
                {% block repair_type %}
                {% endblock %}
        </ul>
    
        <h2 class="headers">Where to find us :</h2>
        <img src="{% static 'images/service_address.jpg' %}" alt="Service location" class="center" style="width: 80%">
        
        <div class="card" style="margin-top: 30px;margin-bottom: 30px;">
            <h2><img src="static/images/icon/work_time.png" alt="Consult" style="zoom: 10%">
                   Work time :
            </h2>
            <H3>Monday to friday : 9:00 - 18:00</H3>
            <H3>Saturday         : 9:00 - 18:00</H3>

        </div>
    
    </div>
    
    {% include 'common/mission.html' %}

</div>

{% endblock %}