<div class="column_main" style="background-color: whitesmoke; {% if request.user.is_authenticated %} visibility: hidden;{% endif %}">
    <div class="column_main">
        
        <div class="card" style="background-color: lightgray ">
            <h2><img src="static/images/icon/desktop.png" alt="Desktop" style="zoom: 10%">
                Computer repairs
            </h2>
            <div>
                <p>
                   Diagnostics, prevention and repair of computers and power supplies.
                    Software services, upgrade and full denoise. If the repair of your computer is too expensive,
                    we can offer you the sale of a new or second-hand computer, monitor or laptop and others. 
                </p>
            </div>
        </div>
        
        <div class="card" style="background-color: #c7c2c2">
            <h2><img src="static/images/icon/laptop.png" alt="Laptop" style="zoom: 10%">
                Laptop repairs
            </h2>
            <div>
                <p>
                   The repair shop carries out total repairs of all brands and models of laptops.
                    Repair of motherboards, replacement of chipsets and video cards, dust cleaning 
                    with disassembly and replacement of thermal pads and thermal paste. 
                    Repair or replacement of screens - matrices. Replacement of broken bushings. 
                </p>
            </div>
        </div>
        
        <div class="card" style="background-color: lightgray">
            <h2><img src="static/images/icon/monitor.png" alt="Monitor" style="zoom: 10%">
                Monitor repairs
            </h2>
            <div>
                <p>
                    Diagnostics of damaged monitors is not free, and the customer is notified in advance 
                    of the cost of the repair. The most common repairs are on the inverter board,
                    power supply and replacement of backlight lamps.
                </p>
            </div>
        </div>
        
        <div class="card" style="background-color: #c7c2c2">
            <h2><img src="static/images/icon/printer.png" alt="Printer" style="zoom: 10%">
            Printers repairs</h2>
            <div>
                <p>
                    We offer specialized services in repair, repair, cleaning, diagnostics,
                    prevention, maintenance, overall service and printer service 
                    (laser, ink jet, dot matrix, thermal, etc.)
                </p>
            </div>
        </div>
        
    </div>
</div>