{% extends 'home_page.html' %}
{% load static %}

{% block content %}

<h2 class="headers">Client Requests Information</h2>
    {% if error %}
        <h3 class="headers" style="color: red">{{ error }}</h3> 
    {% endif %}

<div class="info div ">
     <h3 class="headers">Please enter the code of your order :</h3>
    <form class="example" action="{% url 'client_order_info' %}" style="margin:auto;max-width:300px">
        
            <input type="text" placeholder="Search.." name="search2">
        
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

</div>

{% endblock %}